@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.DonatePopupViewModel>


<div id="donate-modal" class="modal">
    <div class="modal-content">
        <div class="donate-background">
            <div class="donate-wrapper">
                <img id="donate-modal-close" class="close" src="images/Close.svg" />
                <img class="donate-halo-icon" src="images/Halo.svg" alt="Halo" />
                <h6 class="donate-title">@Model.Title</h6>
                <p class="donate-subtitle">@Model.Description</p>
                <form class="donate-form">
                    <div class="donate-form-row">
                        <div class="donate-form-cell">
                            <label class="donate-form-label">@Model.Donor</label>
                            <input id="donor" class="donate-form-input" placeholder="Vaše Ime i Prezime" />
                        </div>
                        <div class="donate-form-cell">
                            <label class="donate-form-label">@Model.Amount</label>
                            <input id="amount" class="donate-form-input" placeholder="Iznos Uplate" />
                        </div>
                    </div>

                    <div class="donate-form-row">
                        <div class="donate-form-cell">
                            <label class="donate-form-label">@Model.CompanyName</label>
                            <input id="company" class="donate-form-input" placeholder="Naziv Kompanije" />
                        </div>
                        <div class="donate-form-cell">
                            <label class="donate-form-label">@Model.Email</label>
                            <input id="email" class="donate-form-input" placeholder="Vaš Email" />
                        </div>
                    </div>
                    <button id="donate-submit-button" class="button donate-submit-button" type="button">@Model.ButtonText</button>
                </form>

                <p class="donate-bottom-text">@Model.Footnote</p>
            </div>
        </div>
    </div>
</div>
<div id="donate-information-modal" class="modal">
    <div class="modal-content">
        <div class="donate-information-background">
            <div class="donate-information-wrapper">
                <img id="donate-information-close" class="close" src="~/assets/Images/Close.svg" />
                <img class="donate-information-halo-icon" src="~/assets/Images/Halo.svg" alt="Halo" />
                <h6 class="donate-information-title">Hvala na donaciji!</h6>
                <p class="donate-information-subtitle">Podaci za uplatu Leuka organizaciji su:</p>

                <div class="donate-informations-wrapper">
                    <div class="donate-information-row">
                        <div class="donate-information-cell">
                            <label class="donate-information-label">ORGANIZACIJA</label>
                        </div>
                        <div class="donate-information-cell">
                            <p class="donate-information-value">Leuka</p>
                        </div>
                    </div>

                    <div class="donate-information-row">
                        <div class="donate-information-cell">
                            <label class="donate-information-label">ZIRO-RAČUN</label>
                        </div>
                        <div class="donate-information-cell">
                            <p class="donate-information-value">17-8379435686452-54</p>
                        </div>
                    </div>

                    <div class="donate-information-row">
                        <div class="donate-information-cell">
                            <label class="donate-information-label">POZIV NA BROJ</label>
                        </div>
                        <div class="donate-information-cell">

                            <p class="donate-information-value">97</p>
                        </div>
                    </div>

                    <div class="donate-information-row">
                        <div class="donate-information-cell">
                            <label class="donate-information-label">MATICNI BROJ</label>
                        </div>
                        <div class="donate-information-cell">
                            <p class="donate-information-value">876778564367</p>
                        </div>
                    </div>
                    <button id="donate-information-close-button" class="button donate-information-button"
                            type="button">
                        Ok, hvala
                    </button>

                    <p class="donate-information-bottom-text">
                        *Akcija obuhvata izložbu radova pacijentkinje, nastalih za vreme transplantacije matičnih
                        ćelija
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="donate-modal" class="modal">
    <div class="modal-content">
        <div class="donate-background">
            <div class="donate-wrapper">
                <img id="donate-modal-close" class="close" src="~/assets/Images/Close.svg" />
                <img class="donate-halo-icon" src="~/assets/Images/Halo.svg" alt="Halo" />
                <h6 class="donate-title">@Model.Title</h6>
                <p class="donate-subtitle">@Model.Description</p>
                <form class="donate-form">
                    <div class="donate-form-row">
                        <div class="donate-form-cell">
                            <label class="donate-form-label">@Model.Donor</label>
                            <input id="donor" class="donate-form-input" placeholder="Vaše Ime i Prezime" />
                        </div>
                        <div class="donate-form-cell">
                            <label class="donate-form-label">@Model.Amount</label>
                            <input id="amount" class="donate-form-input" placeholder="Iznos Uplate" />
                        </div>
                    </div>

                    <div class="donate-form-row">
                        <div class="donate-form-cell">
                            <label class="donate-form-label">@Model.CompanyName</label>
                            <input id="company" class="donate-form-input" placeholder="Naziv Kompanije" />
                        </div>
                        <div class="donate-form-cell">
                            <label class="donate-form-label">@Model.Email</label>
                            <input id="email" class="donate-form-input" placeholder="Vaš Email" />
                        </div>
                    </div>
                    <button id="donate-submit-button" class="button donate-submit-button" type="button">@Model.ButtonText</button>
                </form>

                <p class="donate-bottom-text">@Model.Footnote</p>
            </div>
        </div>
    </div>
</div>

