@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.DonatePopupViewModel>

<h2>@Model.Title</h2>
<h4>@Model.Description</h4>
<h3>@Model.Donor</h3>
<input type="text" id="donor" />
<h3>@Model.Amount</h3>
<input type="text" id="amount" />
<h3>@Model.CompanyName</h3>
<input type="text" id="company" />
<h3>@Model.Email</h3>
<input type="text" id="email" />
<button id="donate-button">Doniraj</button>
<h3>@Model.Footnote</h3>

