@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.DonatePopupViewModel>

<h2>@Model.Title</h2>
<h4>@Model.Description</h4>
<h3>@Model.Donor</h3>
<h3>@Model.Amount</h3>
<h3>@Model.CompanyName</h3>
<h3>@Model.Email</h3>

