@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.DonatePopupViewModel>
<div class="donate-popup">
    <h2>@Model.Title</h2>
    <h4>@Model.Description</h4>
    <h3>@Model.DonatorString</h3>
    <h3>@Model.ValueString</h3>
    <h3>@Model.CompanyString</h3>
    <h3>@Model.EmailString</h3>
    <h5>@Model.Footnote</h5>
</div>
