@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.HighlightedArticleViewModel>
@using ContentModels = Leuka.Models.Generated;

@if (Model.Separator != null)
{
    Html.RenderPartial(Model.Separator.PartialViewPath, Model.Separator);
}

<div class="highlighted-article bg-lighblue-1">
    <div class="highlighted-article-container">
        <div class="highlighted-article-image">
            <div>
                <h3>@Model.HighlightTitle</h3>
                <img src="@Model.Image.Url" alt="Voluntary Donation" />
            </div>
        </div>
        <div class="highlighted-article-content">
            <div class="tag">
                <div class="tag-dot"></div>
                <p>@Model.Category</p>
            </div>
            <div class="highlighted-article-text">
                <h3>@Model.Title</h3>
                <p>
                    @Model.Description
                </p>
                @if (Model.Button != null)
                {
                    Html.RenderPartial(Model.Button.PartialViewPath, Model.Button);
                }
            </div>
        </div>
    </div>
</div>
