@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.PreContactFieldViewModel>

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<meta charset="UTF-8" />

<div class="pre-contact-wrapper">
    <h3 class="title">@Model.BlockTitle</h3>
    <p class="subtitle">@Model.BlockDescription</p>
    @if (Model.Button != null)
    {
        Html.RenderPartial(Model.Button.PartialViewPath, Model.Button);
    }

    <div class="card-wrapper">
        <div class="card">
            <h4 class="card-title">@Model.FirstFieldTitle</h4>
            <p class="description">@Model.FirstFieldDescription</p>
        </div>

        <div class="card">
            <h4 class="card-title">@Model.SecondFieldTitle</h4>
            <p class="description">@Model.SecondFieldDescription</p>
        </div>

        <div class="card">
            <h4 class="card-title">@Model.ThirdFieldTitle</h4>
            <p class="description">@Model.ThirdFieldDescription</p>
        </div>
    </div>
</div>