@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.PreContactFieldViewModel>

<p>@Model.BlockTitle</p>
<p>@Model.BlockDescription</p>
<p>@Model.FirstFieldTitle</p>
<p>@Model.FirstFieldDescription</p>
<p>@Model.SecondFieldTitle</p>
<p>@Model.SecondFieldDescription</p>
<p>@Model.ThirdFieldTitle</p>
<p>@Model.ThirdFieldDescription</p>