@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.ThankyouPopupViewModel>
<div class="thankyou-popup">
    <h2>@Model.Title</h2>
    <h4>@Model.Description</h4>
    <h3>@Model.OrganizationSubtitle</h3>
    <h3>@Model.OrganizationValue</h3>
    <h3>@Model.BankAccountSubtitle</h3>
    <h3>@Model.BankAccountValue</h3>
    <h3>@Model.CallNumberSubtitle</h3>
    <h3>@Model.CallNumberValue</h3>
    <h3>@Model.RegistrationNumberSubtitle</h3>
    <h3>@Model.RegistrationNumberValue</h3>
    <button>@Model.ButtonDescription</button>
    <h5>@Model.Footnote</h5>
</div>