@inherits UmbracoViewPage<Leuka.Core.ViewModels.Shared.ThankYouPopupViewModel>
<div class="thankyou-popup">
    <h2>@Model.Title</h2>
    <h4>@Model.Subtitle</h4>
    <h3>@Model.Organization</h3>
    <h3>@Model.Account</h3>
    <h3>@Model.ReferenceNumber</h3>
    <h3>@Model.RegistrationNumber</h3>
    <button>@Model.ButtonDescription</button>
    <h5>@Model.Footnote</h5>
</div>