@inherits Umbraco.Web.Mvc.UmbracoViewPage<AboutUsViewModel>

<h1>@Model.Title</h1>

<p>@Model.Description</p>

@if (Model.Image != null)
{
    <img src="@Model.Image.Url" />
}


@if (Model.TextList.Count() > 0)
{
    <ul>
    @foreach (var text in Model.TextList)
    {
        <li>@text</li>
    }
    </ul>
}

@if (Model.Paragraph != null)
{
    @Model.Paragraph
}